.form-input {
    border: 1px solid #607D8B;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 12px;
    color: #607D8B;
    font-weight: bold;
    outline: 0px;
}